@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");

.Bouton {
  display: flex;
  width: auto;
  border: solid gray 2px;
  padding-left: 2vw;
  padding-right: 2vw;
  margin-bottom: 1vw;
  justify-content: center;
  font-size: 1vw;
  color: #fff;
  cursor: pointer;
  transition: 0.3s;
}

.Bouton a {
  width: 100%;
  text-align: center;
}

/* Garde le texte visible par-dessus */
.Bouton:hover {
  color: black; /* Change la couleur du texte pour contraste */
  background-color: #e9c753;
}

/* Texte dans le bouton */
.texte-lien {
  font-family: "Montserrat", sans-serif;
  margin: 0;
  padding-top: 0.6vw;
  padding-bottom: 0.6vw;
  position: relative;
  z-index: 1; /* Place le texte au-dessus */
  color: inherit; /* Utilise la couleur du texte parent */
}

.texte-lien:hover {
  color: inherit; /* Utilise la couleur du texte parent */
}
