/* Conteneur du logo pour gérer l'overflow */
.LogoAnimate {
  overflow: hidden; /* Masquer la partie de l'image qui dépasse */
  z-index: -1;
  width: 120%;
}

/* Animation de rotation dans CSS */
.LogoAnimateImg {
  opacity: 0.05; /* Opacité */
  animation: rotate 60s linear infinite; /* Animation de rotation */
  width: 90vw;
  transform: translateY(10%);
}

body {
  background-color: #111;
  position: relative;
}

body::before {
  content: "";
  position: absolute;
  left: 39%; /* Positionner à droite */
  width: 60vw; /* Taille du cercle lumineux */
  height: 60vw; /* Taille du cercle lumineux */
  background: radial-gradient(
    circle,
    rgba(255, 255, 255, 0.6) 10%,
    rgba(255, 255, 255, 0) 70%
  ); /* Dégradé de lumière */
  border-radius: 50%; /* Rendre la forme circulaire */
  z-index: -1; /* Placer derrière le contenu */
  opacity: 0.3;
}

body::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(
      90deg,
      rgba(255, 255, 255, 0.2) 25%,
      transparent 25%,
      transparent 50%,
      rgba(255, 255, 255, 0.2) 50%,
      rgba(255, 255, 255, 0.2) 75%,
      transparent 75%
    ),
    linear-gradient(
      0deg,
      rgba(255, 255, 255, 0.2) 25%,
      transparent 25%,
      transparent 50%,
      rgba(255, 255, 255, 0.2) 50%,
      rgba(255, 255, 255, 0.2) 75%,
      transparent 75%
    );
  background-size: 10px 10px; /* Ajuste la taille des pixels de bruit */
  opacity: 0.1; /* Ajuste l'intensité du bruit */
  pointer-events: none; /* Évite que l'overlay n'interfère avec les interactions de la page */
  z-index: -2; /* Place le bruit derrière le contenu */
}

.Profil {
  padding-top: 10vw;
}

.ProfilImage {
  z-index: -1;
  position: absolute;
  transform: translate(-120%, -5%);
}

.boutons-container {
  display: flex;
  margin-left: 2vw;
  gap: 0.8vw;
}

.Base .boutons-container {
  position: absolute;
}

.Base {
  display: flex;
  padding-left: 1%;
  height: 51.5vw;
}

h1 {
  font-family: "Orbitron", sans-serif;
}

.titre-projets {
  display: flex;
  justify-content: center;
  margin-top: 10%;
}

.parcours-container .project.left {
  margin-left: 50%;
}

.parcours-container .project.right {
  margin-right: 50%;
}

.arrow {
  position: absolute;
  right: 2%;
  bottom: 0.5%;
}

.arrow img {
  width: 4vw;
  height: 4vw;
  filter: invert(1);
  transition: 0.3s;
}

.arrow img:hover {
  width: 4.5vw;
  height: 4.5vw;
}

@media (max-width: 768px) {
  body::before {
    top: 5%;
    left: 25%; /* Positionner à droite */
    width: 75vw; /* Taille du cercle lumineux */
    height: 75vw; /* Taille du cercle lumineux */
    border-radius: 50%; /* Rendre la forme circulaire */
    opacity: 0.3;
  }

  header .navbar {
    position: relative;
    height: 8vw;
    align-items: center;
  }

  header .navbar .liens {
    height: 6vw;
    align-items: center;
  }

  header .navbar .liens a {
    font-size: 3vw;
  }

  .Base {
    height: 120vw;
  }

  .LogoAnimateImg {
    width: 130vw;
    transform: translateY(30%);
  }

  .Profil {
    position: absolute;
    z-index: 2;
    padding-top: 5vw;
  }

  .ProfilImage {
    position: absolute;
    transform: translate(-100%, 29%);
    overflow: hidden;
  }

  .ProfilImageimg {
    width: 80vw;
    transform: translate(20%, -15%);
  }

  .Profil h1 {
    font-size: 8vw;
    max-width: 35vw;
  }

  .Profil h2 {
    font-size: 5vw;
    max-width: 35vw;
  }

  .Base .boutons-container {
    display: block;
    transform: translate(30%, 90%);
    margin: 0;
  }

  .Base .Bouton {
    font-size: 3vw;
    margin-top: 5vw;
  }

  .About {
    flex-direction: column;
  }

  .About h2 {
    font-size: 5vw;
  }

  .About p {
    font-size: 3.125vw;
    text-align: center;
  }

  .titre-projets {
    font-size: 5vw;
  }

  .switch-buttons button,
  .skill-buttons button,
  .content h2,
  .skill-item,
  .Bouton a,
  p {
    font-size: 3.125vw;
  }

  .titre-skills,
  .titre-parcours,
  .content h2 {
    font-size: 5vw;
  }

  .projects {
    margin: 0;
    padding-top: 50%;
    align-items: normal;
    gap: 50vw;
    overflow: hidden; /* Masquer la partie de l'image qui dépasse */
  }

  .project .content {
    font-size: 3.125vw;
    max-width: none;
  }

  .left .content {
    left: -20%;
  }

  .right .content {
    right: -20%;
  }

  .project-skills img {
    height: 5vw;
  }

  .project.left .projects-image {
    top: -10%;
    width: 80vw;
    height: 60vw;
    left: -90%;
  }

  .project.right .projects-image {
    top: -10%;
    width: 75vw;
    height: 60vw;
    left: 40%;
  }

  .parcours-container {
    overflow: hidden; /* Masquer la partie de l'image qui dépasse */
  }

  .parcours-container .project.left {
    margin-left: 50%;
  }

  .parcours-container .project.right {
    margin-right: 50%;
  }

  .project.left .parcours-image {
    top: -10%;
    width: 80vw;
    height: 60vw;
    left: -90%;
  }

  .project.right .parcours-image {
    top: -10%;
    width: 75vw;
    height: 60vw;
    left: 40%;
  }

  .parcours {
    margin-top: 50%;
    gap: 50vw;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 15vw;
  }

  footer .mentions {
    font-size: 2vw;
  }

  .arrow img {
    width: 8vw;
    height: 8vw;
  }

  .arrow img:hover {
    width: 8vw;
    height: 8vw;
  }
}
